body {
    background-color: grey;
    margin-top: 0;
    padding-top: 0;
    padding-left: 2em;
    padding-right: 2em;
    padding-bottom: 0;
  }
  a {
    text-decoration: underline;
  }
  h1 {
    padding-left: .2em;
  }
  .header {
    background-color: lightgray;
  }
  .linkBar {
    background-color: #E67777;
  }
  .linkBar ul {
    list-style-type: none;
    margin: 0;
    padding-left: .5em;
  }
  .linkBar li {
    display: inline;
  }
  .linkBar li {
    display: inline;
  }
  .linkDiscs {
    list-style-type: disc;                        
  }
  .column1 {
    background-color: #86DB86;
    min-height: 1000px;                      
  }
  .column2 {
    background-color: #9999FF;
    min-height: 1000px;                      
  }
  @media only screen and (max-width: 992px) {                
    .column1, .column2 {
      margin-top: -20px;
    }                
  }

